{% load static %}
{% block content %}

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    
    <nav class="site-nav mb-5">
        <div class="pb-2 top-bar mb-3">
        <div class="container">
            <div class="row align-items-center">



            <div class="col-6 col-lg-3 text-right">
                <a href="{% url 'login' %}" class="small mr-3">
                <span class="icon-lock"></span>
                Log In
                </a>
                <a href="{% url 'register' %}" class="small">
                <span class="icon-person"></span>
                Register
                </a>
            </div>

            </div>
        </div>
        </div>
        <div class="sticky-nav js-sticky-header">
        <div class="container position-relative">
            <div class="site-navigation text-center">
                <a class="LOGO" href="#" style="display: inline-block;">
                    <img src="{% static "images/logo.png" %}" alt="" width="72" height="72" style="margin-left: 0px;">
                </a>
                
            <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                
                <li><a href="{% url 'gallery' %}">Kahya AI  </a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'staff' %}">Cominity</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'skorboard' %}">Skorboard</a></li>
            </ul>

            

            <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>

            </div>
        </div>
        </div>
    </nav>

{% endblock content %}