{% extends "base/base.html" %}
{% load static %}
{% block content %}


  <div class="untree_co-hero overlay" style="background-image: url('{% static "images/img-school-2-min.jpg"%}');">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12">
          <div class="row justify-content-center ">
            <div class="col-lg-6 text-center ">
              <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">Contact Us</h1>
              <div class="mb-5 text-white desc mx-auto" data-aos="fade-up" data-aos-delay="200">
                <p> <a href="https://untree.co/" target="_blank" class="link-highlight"></a>Firma adı olarak, siz değerli müşterilerimizle iletişim halinde olmak bizim için son derece önemlidir. Herhangi bir sorunuz, geribildiriminiz veya talebiniz varsa, lütfen çekinmeden bizimle iletişime geçin. Müşteri hizmetleri ekibimiz, size en iyi hizmeti sunabilmek için burada ve her zaman sizinle iletişim kurmaya hazırdır. Size daha iyi yardımcı olabilmemiz için, lütfen adınızı, iletişim bilgilerinizi ve mesajınızı aşağıdaki form aracılığıyla bize iletin. Size en kısa sürede yanıt vereceğiz ve isteğinizi karşılamak için elimizden geleni yapacağız. Müşteri memnuniyeti bizim önceliğimizdir ve sizin memnuniyetiniz için çalışmaktan mutluluk duyarız..</p>
              </div>

              <p class="mb-0" data-aos="fade-up" data-aos-delay="300">
                <a href="#contact" class="btn btn-secondary">İletişim kur</a>
              </p>

            </div>


          </div>

        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->

  </div> <!-- /.untree_co-hero -->




  <div class="untree_co-section" id="contact" >
    <div class="container">

      <div class="row mb-5">
        <div class="col-lg-4 mb-5 order-2 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
          <div class="contact-info">

            <div class="address mt-4">
              <i class="icon-room"></i>
              <h4 class="mb-2">Location:</h4>
              <p>Güven, Adnan Kahveci Blv. No:35, 34160 Güngören/İstanbul</p>
            </div>

            <div class="open-hours mt-4">
              <i class="icon-clock-o"></i>
              <h4 class="mb-2">Open Hours:</h4>
              <p>
                24 hours
              </p>
            </div>

            <div class="email mt-4">
              <i class="icon-envelope"></i>
              <h4 class="mb-2">Email:</h4>
              <p>sitarem1345@gmail.com</p>
            </div>

            <div class="phone mt-4">
              <i class="icon-phone"></i>
              <h4 class="mb-2">Call:</h4>
              <p>+212 449 1827</p>
            </div>

          </div>
        </div>
        <div class="col-lg-7 mr-auto order-1" data-aos="fade-up" data-aos-delay="200">
          <form action="#">
            <div class="row">
              <div class="col-6 mb-3">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="col-6 mb-3">
                <input type="email" class="form-control" placeholder="Your Email">
              </div>
              <div class="col-12 mb-3">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="col-12 mb-3">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>

              <div class="col-12">
                <input type="submit" value="Send Message" class="btn btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>

      
    </div>
  </div> <!-- /.untree_co-section -->


{% endblock content %}